@charset "UTF-8";
/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
/* 设置默认字体 */
body,
button,
input,
select,
textarea {
  /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
h1 {
  font-size: 18px;
  /* 18px / 12px = 1.5 */
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  display: flex;
  justify-content: center;
}
.con-left {
  width: 150px;
  height: 120px;
  -moz-border: 1px solid #ff0000;
  -webkit-border: 1px solid #ff0000;
  border: 1px solid #ff0000;
  margin: auto;
  margin-left: 0px;
}
.con-main-one {
  width: 150px;
  height: 100px;
  -moz-border: 1px solid #ff0000;
  -webkit-border: 1px solid #ff0000;
  border: 1px solid #ff0000;
  margin: auto;
}
.con-main-two {
  width: 150px;
  height: 40px;
  -moz-border: 1px solid #ff0000;
  -webkit-border: 1px solid #ff0000;
  border: 1px solid #ff0000;
  margin: auto;
}
.con-right {
  width: 150px;
  height: 200px;
  -moz-border: 1px solid #0000ff;
  -webkit-border: 1px solid #0000ff;
  border: 1px solid #0000ff;
  margin: auto;
  margin-right: 0px;
}
