body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

ul, ol { list-style: none; }
/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
     font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 12px;}
h4, h5, h6 { font-size: 100%; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }
/*顶部部分*/
.top-list{
    position: relative;
    width: 100%;
    height: 56px;
    min-width: 1280px;
    background-color: #2189bf;
}
.top-list>img{
    position: absolute;
    top:10px;
    left: 51px;
}
.top-sea{
    position: absolute;
    right: 156px;
    top: 14px;
}
.top-sea>img{
    position: absolute;
    left: 17px;
    top:6px;
}
.top-sea>input{
    border: none;
    width: 275px;
    height: 28px;
    border-radius: 15px;
    padding-left: 38px;
}
.top-sign{
    position: absolute;
    width: 46px;
    height: 16px;
    right: 94px;
    top: 20px;
    font-family: "Adobe 黑体 Std R";
    font-size: 12px;
    color: white;
}
.top-sign span{
    position: absolute;
    top: 2px;
    right: 0px;
}
/*左侧菜单部分*/
.left-list{
    position: relative;
    width: 259px;
    height: 1211px;
    background-color: #2a2e3d;
}
.left-list-sign{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 149px;
}
.left-list-sign-1{
    position: absolute;
    top: 19px;
    left: 45px;
    width:47px;
    height: 47px;
    border-radius: 50px;
    padding:3px;
    border: 2px solid #b9babe;
}
.left-list-sign>span{
    position: absolute;
    right:91px;
    top: 41px;
    font-family: "黑体 Regular";
    font-size: 16px;
    color: #ecebec;
}
.left-list-data-1{
    position: absolute;
    bottom: 22px;
    left: 64px;
    color: #6e8095;
}
.left-list-data-1 p{
    font-family: "黑体 Regular";
    font-size: 16px;
}
.left-list-data-1 span{
    font-family: "宋体";
    font-size: 12px;
}
.left-list-data-2{
    position: absolute;
    width: 55px;
    bottom: 22px;
    right: 55px;
    color: #6e8095;
    padding-left: 31px;
    border-left: 1px solid #6e8095;
}
.left-list-data-2 p{
    font-family: "黑体 Regular";
    font-size: 16px;
}
.left-list-data-2 span{
    font-family: "宋体";
    font-size: 12px;
}
.left-menu{
    position: absolute;
    top: 149px;
    width: 100%;
    font-family: "黑体 Regular";
    font-size: 12px;
}
.left-menu>ul>li{
    padding-left: 45px;
    font-family: "黑体 Regular";
    font-size: 12px;
}
.left-menu>ul:first-child>li:first-child{
    background-color: #383d4e;
    padding-top: 14px;
    color: #ededef;
}
.left-menu>ul:first-child>li:first-child>img{
    margin-right: 13px;
}
.left-menu>ul:first-child>li:first-child>ul{
    margin-top: 19px;
    margin-left: 22px;
}
.left-menu>ul:first-child>li:first-child>ul>li{

}
