* {
 	margin:0px; padding: 0px;font-family: "黑体";
 }
 body{
 	width: 100%;
 	background-color: rgb(231, 231, 231);
 }
 .no2{
 	width: 100%;
 	height: 60px;
 	background-color: rgb(62, 61, 61);
 }
 .no2>img{
 	width: 180px;
 	height: 100px;
 	position: absolute;
 	margin-left: 2%;
 	margin-top: -20px;
 }
 .no2>ul{
 	width: 30%;
 	margin-left: 70%;
 }
 .no2>ul li{
 	list-style-type:disc;
 	float:left; 
 	margin-left: 30px;
 	margin-top: 20px;
 	font-family: "黑体";
 }
 .no2>ul li a{
 	text-decoration:none;
 }
.no2>ul li a:link    {
	color:white;
}
.no2>ul li a:visited {
	color:white;
}
.no2>ul li a:hover   {
	color:red;
}
.no2>ul li a:active  {
	color:yellow;
}
.no7{
	background-color: white;
	width: 95%;
	margin: 20px auto;
	padding: 2% 20px;
}
h3{
	margin-top: 20px;
	margin-bottom: 20px;
}
.no7>img{
	margin-left: 40%;
}
.no3{
	background-color: white;
	width: 95%;
	margin: 20px auto;
	padding: 2% 20px;
}
.no3>img{
	margin-left: 40%;
}
.no3>ul li{
	list-style:none;
}
.no4{
	background-color: white;
	width: 95%;
	height: 320px;
	margin: 20px auto;
	padding: 2% 20px;
}
.no4 p{
	width: 18%;
	border: 1px solid red;
	float: left;
	padding: 10px;
	text-align: center;
	margin-left:5%; 
}
.no4 p img{
	width: 100%;
	margin-top: 10px;
}
.no5{
	background-color: white;
	width: 95%;
	height: 300px;
	margin: 20px auto;
	padding: 3% 20px;
}
.no5 ol{
	margin-left: 50px;
}
.no5 table{
	width: 100%;
}
.no5 table tr td{
	border: 1px solid gray;
	height: 30px;
}
.l1{
	background-color: rgb(62, 61, 61);
	color:white;
}
.l5{
	background-color: gray;
}
.no6{
	background-color: white;
	width: 95%;
	margin: 20px auto;
	padding: 3% 20px;
}
.no6 h2{
	border-left: 3px solid gray;
}
.p1{
	margin-left: 30%;
}
.p1 input{
	margin-left:2%;
}
.p2{
	margin-top: 1%;
	margin-left: 37%;
}
.p5{
	margin-left: 31.8%;
	margin-top: 1%;
}
.p5 input{
	margin-left:2%;
}
.p6{
	margin-left: 30%;
	margin-top: 1%;
}
.p6 input{
	margin-left:2%;
}
.p3{
	margin-top: 1%;
	margin-left: 37%;
}
.p4{
	margin-top: 1%;
	margin-left: 34.4%;
}
.p4 input{
	margin-left:2%;
}
.p7 {
	margin-top: 1%;
	margin-left: 34.4%;
}
.p7 select{
	margin-left:1.5%;
}
.p8{
	margin-top: 1%;
	margin-left: 34.4%;
}
.p8 input{
	margin-left:1.5%;
}
.p9{
	margin-top: 1%;
	margin-left: 32.5%;
}
.p9 textarea{
	width: 60%;
	height: 150px;
	margin-left:1.5%;
}
.p10 input{
	width: 99%;
	height: 50px;
	font-size: 1.5em;
	color:white;
	border-radius:10px;
	background-color: blue;
}
footer{
	width: 100%;
 	height: 100px;
 	background-color: black;
}
footer>p{
	color: white;
	font-size: 1.5em;
	text-align: center;
	padding-top: 1%;
}